:root {
  /* --main-color: #D3494E;
  --secondary-color: #FFE5AD;
  --third-color: #13BBAF; */
}

body {
  /* background-color: var(--third-color); */
}

.title {
  font-size: 2em;
  font-weight: bold;
  /* color: var(--main-color) */
}

.description {
  text-align: justify;
}

.cell {
  height: 20px;
  width: 20px;
  border: solid 1px black;
  cursor: pointer;
}